Django==5.2.11 
groq==0.37.1 
Pillow==12.2.0 
python-dotenv==1.2.1 
cloudinary==1.42.1 
django-cloudinary-storage==0.3.0 
gunicorn==25.1.0 
httpx==0.28.1 

# --- Lightweight LangChain AI Service ---
langchain-groq==1.1.2
psycopg[binary]==3.2.9
